{% if obfsEnabled %}
{
    "server": ["127.0.0.1"],
    "mode": "tcp_only",
    "server_port": 14801,
    "local_port": 2081,
    "password": "{{ sspassword }}",
    "timeout": 86400,
    "method": "aes-256-gcm",
    "plugin": "/usr/bin/obfs4proxy",
    "plugin_opts": "obfs4;server;cert=/etc/shadowsocks-libev/ssl/serverobfs.crt;key=/etc/shadowsocks-libev/ssl/serverobfs.key;iat-mode=0"
}
{% elif v2Enabled %}
{
    "server": ["0.0.0.0"],
    "mode": "tcp",
    "server_port": 14802,
    "local_port": 2082,
    "password": "{{ sspassword }}",
    "timeout": 86400,
    "method": "aes-256-gcm",
    "plugin": "/usr/local/bin/v2ray-plugin",
    "plugin_opts": "server;tls;host={{ dnsNameV2ray }};cert=/etc/shadowsocks-libev/ssl/serverv2.crt;key=/etc/shadowsocks-libev/ssl/serverv2.key"
}
{% else %}
{
    "server": ["0.0.0.0"],
    "mode": "tcp",
    "server_port": 14800,
    "local_port": 2080,
    "password": "{{ sspassword }}",
    "timeout": 86400,
    "method": "aes-256-gcm"
}
{% endif %}